/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');

/* all formats */

.quarto-title > h1.title {
  opacity: 100 !important;
  font-size: 2em !important;
}

.cvdate {
  float: right;
}

.cvgpa {
  float: right;
  font-style: italic;
}

.print-only {
  display: none;
  /*color: aquamarine;*/
}

.small {
  font-size: 0.9em;
}

details {
  color: black
}


details > summary {
  width: 15em;
  border: none;
  cursor: pointer;
}